.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  padding: 2px;
  background-color: lightgray;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.699);
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

button.cell {
  color: white;
  font-size: 100px;
  font-weight: bold;
}

.container {
  font-size: 1.5em;
}

.restart {
  margin-top: 16px;
  font-size: 1.5em;
  padding: 16px;
  border-style: none;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.699);
  color: white;
  font-weight: bold;
}

.restart:hover {
  cursor: pointer;
}

.restart:active {
  transform: translateY(2px);
}